.section-tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px 3px 2px 3px;
  display: inline-block;
}

pre {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100px;
  padding: 5px;
  margin-top: 5px;
  resize: vertical;
}

.p-title{
  a{
    margin-left: 3px;
  }
}
